<h2>listar</h2>
  <button (click)="listar()">Listar</button>

  <ul>
    <li *ngFor="let cliente of listaClientes">
        <span (click)="selecionar(cliente)">{{cliente.nome}}</span>
        {{cliente.id}}--- {{cliente.cpf}}<button (click)="remover(cliente.id)">Excluir</button>

         <!--<span (click)="remover(cliente.id)">x</span>-->
    </li>
  </ul>
<hr>

<h2>Cadastrar</h2>
<label for="nome">Nome</label>
<div>
  <input type="text" [(ngModel)]="cliente.nome">
</div>
<label for="nome">CPF</label>
<div>
  <input type="text" [(ngModel)]="cliente.cpf">
</div>

<button (click)="salvar()">Salvar</button>
<button (click)="cancelar()">Cancelar</button>
<!-- <button (click)="inserir()">Cadastrar</button> -->


<hr>
