<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    div{
      width: 100px;
      height:100px;
      background-color: red;
    }
  </style>
</head>
<body>
  <button (click)="mostrar()">aparecer</button>
  <div *ngIf="valor=='invisivel'"></div>

  <hr>
<h2>imagem aparecer conforme digito</h2>
  <textarea [(ngModel)]="texto" ></textarea>

  <img src="assets/OIP.jfif" *ngIf="texto!=''" >
  <img src="assets/erro.png" *ngIf="texto==''" >


</body>
</html>
